/*Reset CSS*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}
.text-white {
    color: #fff !important;
}
.mt-8 {
    margin-top: 8px;
}
.mt-16 {
    margin-top: 16px;
}
.row {
    margin-left: -8px;
    margin-right: -8px;
}
.col {
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}
.col-half {
    width: 50%;
}
.col-full {
    width: 100%;
}
.row::after {
    content: "";
    display: block;
    clear: both;
}
.text-center {
    text-align: center !important;
}
/* /*
1. Làm từ ngoài vào trong
2. Làm từ trên xuống dưới
3. Tổng quan đến chi tiết
*/

/*
1. Vị trí
2. Kích thước
3. Màu sắc
4. Kiểu dáng (kiểu chữ, hình tròn, vuông,...)
*/
#main {

}
#header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 46px;
    background-color: #000;
    z-index: 1;

}
#nav {
    display: inline-block;
}


#nav li {
    display: inline-block;
    position: relative;
}

#nav > li > a {
    color: #fff;
    text-transform: uppercase; /* viet hoa*/
}

#nav li a {
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
    display: block;
}

#nav > li:hover > a {
    color: #000;
    background-color: #ccc;
}

#nav li:hover .subnav {
    display: block;
}

#nav .subnav li:hover a {
    display: inline-block;
    background-color: #ccc;
    width: 100%;
}
#nav .subnav li {
    width: 100%;
}

#nav .subnav {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 160px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5) ;
}

#nav .subnav a {
    color: #000;
    padding: 12px;
    line-height: 20px;
}

#nav .nav-arrow-down {
    font-size: 12px;
}

#header .search-btn {
    cursor: pointer;
}
#header .search-icon {
    color: #fff;
    font-size: 20px;
    float: right;
    line-height: 46px;
    padding: 0 24px;
}

#header .search-icon:hover {
    background-color: #f44336;
}

#slider {
    position: relative;
    margin-top: 46px;
    padding-top: 50%;
    background: url(../img/slider/slider1.jpg) top center / cover no-repeat;
}

#slider .text-content {
    position: absolute;
    bottom: 48px;
    color: #fff;
    width: 100%;
    text-align: center;
}

#slider .text-heading {
    font-weight: 500;
    font-size: 24px;
}

#slider .text-description {
    font-size: 15px;
    margin-top: 25px;
}

#content {

}

#content .content-section {
    width: 800px;
    max-width: 100%;
    padding: 64px 0;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
}

#content .section-heading {
    font-size: 30px;
    font-weight: 500; /* Giảm độ dày của chữ*/
    text-align: center;
    letter-spacing: 5px; /* khoảng cách giữa các chữ cái*/
}
#content .section-sub-heading {
    font-size:15px;
    margin: 25px 0;
    text-align: center;
    font-style: italic; /* chữ nghiêng*/
    opacity: 0.6; /* Giảm độ trong suốt*/
}

#content .text-content {
    font-size: 15px;
    text-align: justify; /* căn đều chữ 2 bên*/
    line-height: 1.5;
}

#content .member-list {
    margin-top: 48px;
    display: flex;
    flex-basis: 30%;
    justify-content: space-around;
}

#content .member-item {

}

#content .member-name {
    font-size: 15px;
    text-align: center;
    margin: 15px 0;
}

#content .member-avt {
    width: 154px;
    border-radius: 5px;
}

/* Tour section */

.tour-section {
    background-color: #000;
}

.tickets-list {
    background-color: #fff;
    list-style: none;
    margin-top: 40px;
}

.tickets-list li {
    font-size: 15px;
    padding: 11px 16px;
    border-bottom: 1px solid #ddd;
    color: #757575;
}

.tickets-list .sold-out {
    background-color: #f44336;
    color: #fff;
    padding: 3px 4px;
    margin-left: 16px;

}

.tickets-list .quantity {
    float: right;
    width: 24px;
    height: 24px;
    background-color: #000;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 24px;
    margin-top: -3px;
}

/* places */

.place-list {
    margin-top: 32px;
    display: flex;
    flex-basis: 30%;
    justify-content: space-between;
    padding-bottom: 32px;
}
.place-item {
    
}
.place-img {
    width: 245px;
    display: block;
    
}

.place-img:hover {
    opacity: 0.6;
}

.place-content {
    background-color: #fff;
    width: 245px;
    padding: 16px;
}
.place-heading {
    margin: 15px 0;
    font-size: 15px;
    font-weight: 550;
}
.place-time {
    margin: 15px 0;
    font-size: 15px;
    color: #757575;
}
.place-describe {
    margin: 15px 0;
    font-size: 15px;
    line-height: 1.4;
}
.place-buy-ticket {
    margin: 15px 0;
    background-color: #000;
    padding: 10px 16px;
    font-size: 15px;
    text-decoration: none;
    color: #fff;
    border: none;
}

.place-buy-ticket:hover {
    background-color: #ccc;
    color: #000;
    cursor: pointer;
}

/* Contact */
.contact-content {
    margin-top: 48px;
}
.contact-info {
    font-size: 18px;
    line-height: 1.4;
}
.contact-info i[class*="ti-"] {
    width: 30px;
    display: inline-block;
}
.contact-form {
    font-size: 15px;
}
.contact-form .form-control {
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
}
.form-submit {
    padding: 8px 16px;
    background-color: #000;
    color: #fff;
    border: none;
    float: right;
}
.form-submit:hover {
    background-color: #ccc;
    color: #000;
    cursor: pointer;
}

.map-section img {
    width: 100%;
}
/* Footer */
#footer {
    padding: 64px 16px;
    text-align: center;
}
.social-list {
    font-size: 24px;
}
.social-list a {
    color: rgba(0, 0, 0, 0.6);
    text-decoration: none;
}
.copyright a:hover,
.social-list a:hover {
    color: rgba(0, 0, 0, 0.4);
}
.copyright {
    font-size: 15px;
    color: rgba(0, 0, 0, 0.6);
    margin: 15px 0;
}
.copyright a {
    color: rgba(0, 0, 0, 0.6);
}
.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0 , 0, 0.4);
    align-items: center;
    justify-content: center;
    display: none;
}
.modal.open {
    display: flex;
}
.modal-container {
    background-color: #fff;
    width: 900px;
    min-height: 200px;
    max-width: calc(100% - 32px);
    position: relative;
    animation: modalFadeIn ease 0.3s;
}
.modal-header {
    background-color: #009688;
    height: 129px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: #fff;
}
.modal-icon {
    margin-right: 16px;
}
.modal-close {
    position: absolute;
    right: 0;
    top: 0;
    color: #fff;
    padding: 12px;
}
.modal-close:hover {
    background-color: #ccc;
    color: #000;
    cursor: pointer;
}
.modal-body {
    padding: 16px;
}
.modal-label {
    display: block;
    font-size: 15px;
    margin: 15px 0;
}
.modal-input {
    border: 1px solid #ccc;
    width: 100%;
    padding: 8px;
    font-size: 15px;
}
#buy-tickets {
    background-color: #009688;
    color: #fff;
    font-size: 15px;
    width: 100%;
    padding: 16px;
    margin: 16px 0;
    border: none;
}
#buy-tickets:hover {
    background-color: #ccc;
    color: #000;
    cursor: pointer;
}
.modal-footer {
    padding: 16px;
    text-align: right;
}
.modal-footer a {
    color: #2196F3;
}
@keyframes modalFadeIn{
    from {
        opacity: 0;
        transform: translateY(-140px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}